<!DOCTYPE html>
<html>
	<head>
		<title>POLL</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	</head>
	<body class="container" style="background-color:f7f7f7">
		<div class="card border border-dark" style="margin-top:50px; background-color:#f8f8f8" >
			<div class="card-body" style="border-dark:20px;">
				<h3 style="text-align:center;font-size:40px;" class="text-secondary">POLLING BOOTH</h3>
				<hr>
				<br>
				<h3 style="text-align:center;">{{question.question_text}}</h3>
				<br>
				<br>
				<form method="POST" action="/answer/{{question.id}}/">
					{% csrf_token %}
					<div style="padding-right:40px;padding-left:40px">
						{% for  choice in choice_set %}
							<div class="row">
								<div class="col-md-6" style="text-align:center">
									<h6>{{choice.choice_text}}</h6>
								</div>
								<div class="col-md-6" style="text-align:center">
									
									<button class="btn btn-outline-primary" type="submit" style="padding-left:50px;padding-right:50px;" value="{{choice.id}}" name="vote">Vote</button>
								</div>
								
							</div>
							<br><hr><br>
						{% endfor %}
					</div>
				</form>
				
			</div>
		</div>
	</body>
	
</html>