<!DOCTYPE html>
<html>
<head>
	<title>Thank You</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body class="container" style="background-color:#f1f1f1">

	<h1 style="text-align:center;padding-top:100px"><u>THANK YOU FOR YOUR RESPONSE.</u></h1>
	<br>
	<h6 style="text-align:center"><a href="/" >-Submit another response.</a></h6>

</body>
</html>